@{
    ViewData["Title"] = "Bookings History";
}

@model List<Room>

@foreach (var element in Model)
{
    <br />
    <div>
        <div style ="float:left;padding-right: 10px;">
            <img src=@Url.Content(element.Image1) alt="IMAGES" width="80px" height="80px" />
        </div>
        <div>
            <div>
                Room Number : @element.Id
            </div>
            <div>
                Booking Date : @element.BookingDate
            </div>
            <div>
                Price : @element.Cost
            </div>
        </div>
        
    </div>    
}


